<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>dashboard</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/css/style.css'>
    <link rel='stylesheet' type='text/css' media='screen' href='/fontawesome/css/all.min.css'>
    <script type="text/javascript" src="/js/jquery.min.js" defer></script>
    <script type="text/javascript" src='/js/script.js' defer></script>
</head>
<body>
    <div class="preload"></div>
    <div class="main">
        
        <%- include("leftBar") %>

        <div class="right-container">
            
            <%- include("header") %>
            
            <div class="content">
                <!-- <div class="top-content">
                    <p class="welcome">
                        Bienvenu à la polyclinique Fulltang
                    </p>
                    <p>
                        Administrator profil
                    </p>
                    <p class="page-title">
                        modifier les informations du personnel...
                    </p>
                </div> -->
                <div class="search">
                  <p class="page-title">
                    Modifier les informations du personnel
                  </p>
                </div>
                <form method="post" class="form">
                    <div class="form-row">
                        <div>
                            <label>Nom</label>
                            <input class="focus" type="text" value="<%=personnel.nom %>" name="nom" required/>
                        </div>
                        <div>
                            <label>Prénom</label>
                            <input class="focus" type="text"  value="<%=personnel.prenom %>" name="prenom" required/>
                        </div>
                    </div>
                    <div class="form-row">
                        <div>
                            <label>Date de naissance</label>
                            <input class="focus" type="date"  name="date_naissance"  value="<%=personnel.date_naissance.toISOString().split('T')[0] %>" max="<%=new Date().toISOString().split('T')[0] %>" required />
                        </div>
                        <div>
                            <label>Sexe</label>
                            <select class="focus" name="sexe" required  >
                                <option  disabled value="" style=" color: black ; font-weight: bold"></option>
                                <% if(personnel.sexe=="Masculin"){ %>
                                    <option selected value="Masculin">Masculin</option>
                                    <option value="Féminin">Féminin</option>
                                <% } else { %>
                                    <option  value="Masculin">Masculin</option>
                                    <option selected value="Féminin">Féminin</option>
                                <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div>
                            <label>Email</label>
                            <input class="focus" type="email" value="<%=personnel.email %>" name="email"  required/>
                        </div>
                        <div>
                            <label>N° téléphone</label>
                            <input class="focus" type="number" value="<%=personnel.telephone %>" name="telephone" required/>
                        </div>
                    </div>
                    <div class="form-row">
                            <div>
                                <label>Adresse</label>
                                <input class="focus" type="text" value="<%=personnel.domicile %>" name="domicile" required/>
                            </div>
                            <div>
                                <label for="specialite">Spécialité</label>
                                <select class="focus" name="specialite" required>
                                  <option disabled value="" style="color: black; font-weight: bold;"></option>
                                  <% if (personnel.specialite === "receptionnist") { %>
                                    <option selected value="receptionnist">Receptionniste</option>
                                  <% } else { %>
                                    <option value="receptionnist">Receptionniste</option>
                                  <% } %>
                                  <% if (personnel.specialite === "pharmacian") { %>
                                    <option selected value="pharmacian">Pharmacien</option>
                                  <% } else { %>
                                    <option value="pharmacian">Pharmacien</option>
                                  <% } %>
                                  <% if (personnel.specialite === "infirmier") { %>
                                    <option selected value="infirmier">Infirmier(e)</option>
                                  <% } else { %>
                                    <option value="infirmier">Infirmier(e)</option>
                                  <% } %>
                                  <% if (personnel.specialite === "cashier") { %>
                                    <option selected value="cashier">Cassier</option>
                                  <% } else { %>
                                    <option value="cashier">Cassier</option>
                                  <% } %>
                                  <% if (personnel.specialite === "Specialiste") { %>
                                    <option selected value="Specialiste">Spécialiste</option>
                                  <% } else { %>
                                    <option value="Specialiste">Spécialiste</option>
                                  <% } %>
                                  <% if (personnel.specialite === "labtechnician") { %>
                                    <option selected value="labtechnician">Laborantin</option>
                                  <% } else { %>
                                    <option value="labtechnician">Laborantin</option>
                                  <% } %>
                                  <% if (personnel.specialite === "generaliste") { %>
                                    <option selected value="generaliste">Généraliste</option>
                                  <% } else { %>
                                    <option value="generaliste">Généraliste</option>
                                  <% } %>
                                  <% if (personnel.specialite === "cardiologue") { %>
                                    <option selected value="cardiologue">Cardiologue</option>
                                  <% } else { %>
                                    <option value="cardiologue">Cardiologue</option>
                                  <% } %>
                                  <% if (personnel.specialite === "gynecologue") { %>
                                    <option selected value="gynecologue">Gynécologue</option>
                                  <% } else { %>
                                    <option value="gynecologue">Gynécologue</option>
                                  <% } %>
                                  <% if (personnel.specialite === "neurologue") { %>
                                    <option selected value="neurologue">Neurologue</option>
                                  <% } else { %>
                                    <option value="neurologue">Neurologue</option>
                                  <% } %>
                                  <% if (personnel.specialite === "Gastro-enterologue") { %>
                                    <option selected value="Gastro-enterologue">Gastro-enterologue</option>
                                  <% } else { %>
                                    <option value="Gastro-enterologue">Gastro-enterologue</option>
                                  <% } %>
                                  <% if (personnel.specialite === "nephrologue") { %>
                                    <option selected value="nephrologue">Néphrologue</option>
                                  <% } else { %>
                                    <option value="nephrologue">Néphrologue</option>
                                  <% } %>
                                </select>
                            </div>
                    </div>
                    
                    <input  type="submit" value="enregistrer"/>
                </form>
            </div>
        </div>
         
    </div>
    
    <script>
        var date=document.querySelector("input[type='date']")
        
        console.log(date.ariaValueText)
    </script>

</body>
</html>